---
import Link from './link.astro'
const { title, links } = Astro.props
---

<section>
	<div class='container content'>
		<div class='link__group text-width'>
			<h2>{title}</h2>
			{
				links &&
					links.map(({ href, label, icon, target, rel }) => (
						<div>
							<Link
								href={href}
								text={label}
								icon={icon}
								target={target || '_blank'}
								rel={rel}
							/>
							<hr class='hr-subtle' />
						</div>
					))
			}
		</div>
	</div>
</section>
