---
interface Props {
  href: string;
  text: string;
  icon?: string;
  target?: string;
  rel?: string;
}

const {
  href,
  text,
  icon,
  target = "_self",
  rel = "noopener noreferrer",
} = Astro.props;
---

<a href={href} target={target} rel={rel} class="link">
  <span class="link-text">{text}</span>
  {icon && <span class="link-icon" set:html={icon} />}
</a>

<style>
.link {
	color: #78a9ff;
	display: inline-flex;     /* align text and icon horizontally */
	align-items: flex-start;
	overflow: visible;
	gap: 0.5em;              /* space between text and icon */
	width: fit-content;
}

.link:hover {
	color: #a6c8ff;
	text-decoration: underline;
	text-decoration-thickness: 0.0625em;
	text-underline-offset: 0.15625em;
}

.link:active,
.link:focus {
	outline-offset: -2px;
	outline: 2px solid #fff;
}

.link:focus-visible {
	color: #fff;
}

.p.link {
	color: #fff;
}

.p.link:hover {
	color: #fff;
}

.p2.link {
	color: #c1c7cd;
}

.p2.link:hover {
	color: #fff;
}

.link__group {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: flex-start;
}

.link__row {
	display: flex;
	width: 100%;
	flex-direction: row;
	gap: 1rem;
	align-items: flex-start;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.link-icon {
	display: inline-flex;
	width: 1.25rem;
	height: 1.25rem;
	min-width: 1.25rem;
	min-height: 1.25rem;
	margin-top: .25rem;
}

.link-icon :global(svg) {
	width: 100%;
	height: 100%;
}

.link-icon :global(svg path) {
	fill: currentColor;
}

.link__group .link {
  width: 100%;
}

.link__group .link-text {
  width: 100%;
}
</style>
