---
interface Props {
  href: string;
  text: string;
  icon?: string;
  target?: string;
  rel?: string;
  size?: 'default' | 'h2' | 'h3';
  color?: 'default' | 'inverse';
  class?: string;
}

const {
  href,
  text,
  icon,
  target = '_self',
  rel = 'noopener noreferrer',
  size = 'default',
  color = 'default',
  class: passedClass = "",
} = Astro.props;

let sizeClass = 'link';

if (size === 'h3') sizeClass = 'link-h3';
else if (size === 'h2') sizeClass = 'link-h2';

if (color === 'inverse') {
  if (size === 'h2') sizeClass = 'link-h2-inverse';
  else if (size === 'h3') sizeClass = 'link-h3-inverse';
  else sizeClass = 'link-inverse';
}

const finalClass = `${sizeClass} ${passedClass}`.trim();
---
<a href={href} target={target} rel={rel} class={finalClass}>
  {text}
  {icon && <span class='link-icon' set:html={icon} />}
</a>
