---
const {
	href,
	label,
	thumbnail: { src: thumbnailSrc, size: thumbnailSize }
} = Astro.props
---

<section>
	<div class='container end'>
		<p>Next case study</p>
		<a class='h1 link underscore-offset-2 next-case-study' href={href}
			>{label}
		</a>
		<img
			class='next-preview'
			width={thumbnailSize[0]}
			height={thumbnailSize[1]}
			src={thumbnailSrc}
		/>
	</div>
</section>
<script is:inline>
	const nextCaseStudy = document.querySelector('.next-case-study')
	const nextPreview = document.querySelector('.next-preview')
	nextCaseStudy.addEventListener('mousemove', evt => {
		nextPreview.style.setProperty(
			'--next-case-study-preview-top',
			evt.clientY + 'px'
		)
		nextPreview.style.setProperty(
			'--next-case-study-preview-left',
			evt.clientX + 'px'
		)
	})
</script>
