---
import Link from './Link.astro';

interface LinkProps {
  href: string;
  text: string;
  icon?: string;
  target?: string;
  rel?: string;
}

interface BlockquoteProps {
  quote: string;
  author: string;
  title: string;
  link?: LinkProps;
}

const { quote, author, title, link } = Astro.props;
---
<div class="quote-container text-width">
  <hr class="hr-strong" />
  <h2>"{quote}"</h2>
  <div class='clients__author'>
    <p>{author}</p>
    <p class='text-secondary'>{title}</p>
  </div>
  <hr class="hr-strong" />

  {link && (
    <Link 
      href={link.href}
      text={link.text}
      icon={link.icon}
      target={link.target}
      rel={link.rel}
    />
  )}
</div>
