---
const { quote, author, title, link, linkLabel } = Astro.props;
---

<div class="quote-container text-width">
  <hr class="hr-strong" />
  <blockquote>"{quote}"</blockquote>
  <div>
    <p style="margin-bottom: 0;"><b>{author}</b></p>
    <p>{title}</p>
  </div>
  <hr class="hr-strong" />
  <a class="link" target="_blank" href={link}>
    {linkLabel}
  </a>
</div>
